@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.menuItem {
  height: 15svh;
  width: 25svw;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItemImage {
  max-height: 100px;
  max-width: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.menuItemText h3 {
  font-size: 16px;
}
.menuItemText h1 {
  font-size: 18px;
}
.menuItemText p {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.459);
}
