.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 10svh auto;
  gap: 10px;
  grid-template-areas:
    "header header"
    "sidebar content";
  min-height: 100vh;
}

.header {
  /* background-color: red; */
  grid-area: header;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 5px;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin-right: 33rem;
}

.header h1 {
  font-size: 18px;
}
.header p {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.459);
}

.header img {
  height: 8svh;
  border: 1px solid black;
  border-radius: 5svh;
}

.sidebar {
  /* background-color: blue; */
  grid-area: sidebar;
  display: flex;
  justify-self: flex-end;
  position: sticky;
  top: 0;
  align-self: start;
  margin-right: 2rem;
}

.content {
  /* background-color: green; */
  grid-area: content;
  display: flex;
  justify-self: flex-start;
}
